{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 5">
    <meta name="author" content="{{author}}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage.css' %}" />

</head>


<body>

<div class="landing-page">
  <button class="button" id="4x4" onClick="setSize(4)">4x4</button>
  <button class="button" id="8x8" onClick="setSize(8)">8x8</button>
  <button class="button" id="easy" onClick="setLevel(1)">Easy</button>
  <button class="button" id="medium" onClick="setLevel(5)">Medium</button>
  <button class="button" id="hard" onClick="setLevel(10)">Hard</button>
  <button class="button" id="startGame" onClick="startGame()">Start Game!</button>
</div>

<div class="game-page">
  <div class="scoreboard">
    <h2 class="score"></h2>
    <h2 class="current-player"></h>
  </div>
  <div class="restart-button"></div>
  <div class="board"></div>
</div>

<div class="end-page">
  <h2 class="winner"></h2>
  <button class="button" onClick="initialize()">Replay Game</button>
</div>
</body>
</html>

<script>
class Board{

  constructor(size){
    this.size = size;
    this.state = [];
    this.minimaxScore = 0;
    //console.log(this.state)
    this.initBoard();
    this.movedx = 0;
    this.movedy = 0;
  }
  initBoard(){
    for (let row=0; row<this.size; row++){
      this.state.push([]);
      for (let box = 0; box <this.size; box++){
        this.state[row].push(0);
      }
    }
    let mid = this.size / 2;
    this.state[mid-1][mid-1] = 2;
    this.state[mid-1][mid] = 1;
    this.state[mid][mid-1] = 1;
    this.state[mid][mid] = 2;
  }

  checkIfValidMove(x,y,player){
    if (this.state[x][y] != 0)
            return false;

        let isValidMove = false;
        let moves = [[-1,0],[0,-1],[1,0],[0,1],[1,1],[-1,-1],[-1,1],[1,-1]];

        for (let m = 0; m < moves.length; m++) {
          let piecesToFlip = false;
          let passedOpponent = false;
          let k = 1;
          let i = moves[m][0];
          let j = moves[m][1];

          while ( x + i * k >= 0 && y + j * k >= 0 && x + i * k < this.size && y + j * k < this.size){
            if (this.state[x + i * k][y + j * k] == 0 || this.state[x + i * k][y + j * k] == player && !passedOpponent){
              break;
            }
            else if (this.state[x + i * k][y + j * k] == player && passedOpponent){
              piecesToFlip = true;
              break;
            }
            else if (this.state[x + i * k][y + j * k] == player % 2 + 1){
              passedOpponent = true;
              k++;
            }
          }

          if (piecesToFlip){
            //console.log("arah:" + i +", " + j);
            //console.log("k:"  + k);
            this.state[x][y] = player;
            for (let h = 1; h <= k ; h++ ){
              this.state[x + i * h][y + j * h] = player;
            }
            isValidMove = true;
          }
        }

        this.movedx = x;
        this.movedy = y;
        return isValidMove;

  }
  getValidMoves(player) {

        let validMoves = [];
        let b = new Board(this.size);
        b.clone(this.state);

        for (let i = 0; i < this.size; i++) {
            for (let j = 0; j < this.size; j++) {
              //console.log("ini state b")
              //console.log(b.state);
                if (b.checkIfValidMove(i, j, player)) {
                  validMoves.push(b);
                }
                b = new Board(this.size);
                b.clone(this.state);

            }
        }

        return validMoves;
    }

    clone(state){
      for (let p = 0; p < state.length; p++){
        for (let q = 0; q < state.length; q++){
          this.state[p][q] = state[p][q];
        }
      }
    }

}

var mainBoard;
var SIZE;
var LEVEL;
var turns = 1;
var validMoves = [];
var indo = 2;
var penjajah = 2;

initialize();

function initialize(){
$('.game-page').addClass('hidden');
$('.end-page').addClass('hidden');
$('.landing-page').removeClass('hidden');
}

function currentPlayer(){
  if (turns % 2 == 0){
    return 2;
  }
  else{
    return 1;
  }
};

function setSize(size){
  SIZE = size;
}

function setLevel(level){
  LEVEL = level;
}

function startGame(){
  turns = 1;
  validMoves = [];
  indo = 2;
  penjajah = 2;
  mainBoard = new Board(SIZE);
  createBoardHTML();
  refresh();
  possibleMoves();
}
function countEmptyBox(){
  let count = 0;
  for (let i = 0; i < SIZE ; i++){
    for (let j = 0; j < SIZE ; j++){
      if (mainBoard.state[i][j] == 0){
        count++;
      }
    }
  }
  return count;
}
async function announceWinner(){
  await sleep(1000);
  $('.board').addClass('hidden');
  $('.end-page').removeClass('hidden');
  if (indo == penjajah){
      $('.winner').replaceWith('<h2 class="winner">GAME SERI</h2>');
  }
  else if (indo > penjajah){
    $('.winner').replaceWith('<h2 class="winner">MERDEKA</h2>');
  }
  else{
    $('.winner').replaceWith('<h2 class="winner">yah</h2>');
  }
}

async function move(x,y){
  //console.log(validMoves);
  if (countEmptyBox() == 0){
    refresh();
    announceWinner();
    return;
  }
  if (validMoves.length == 0){
    possibleMoves();
  }

  for (let i = 0; i < validMoves.length; i++){
    if (validMoves[i].movedx == x && validMoves[i].movedy == y){
      mainBoard.checkIfValidMove(x,y,currentPlayer());
      turns++;
      refresh();
      possibleMoves();
      if (currentPlayer() == 2){
        await sleep(1000);
        aiplay();
      }
      return;
    }
  }
  return;
}

// INI ADALAH AI SEMENTARA YANG MILIH RANDOM move
function aiplay(){
  if (currentPlayer() == 1 || validMoves.length == 0){
    return;
  }
  if (validMoves.length == 1){
    move(validMoves[0].movedx, validMoves[0].movedy);
    return;
  }
  let minmax = validMoves[0];
  minmax.minimaxScore = minimax(0, LEVEL, minmax, true, -1000, 1000);
  for (let i = 1; i < validMoves.length; i++){
  console.log(minmax);
    let temp = validMoves[i];
    temp.minimaxScore = minimax(0, LEVEL, validMoves[i], true, -1000, 1000);
    if (minmax.minimaxScore < temp.minimaxScore){
      minmax = validMoves[i];
    }
  }

  move(minmax.movedx, minmax.movedy);
}

function minimax(depth, maxDepth, board, maximizingPlayer, alpha, beta){
  let moves = [];
  console.log("alpha :" + alpha);
  console.log("current depth : " + depth)
  console.log("max depth : " + maxDepth)
  console.log("isi var board : " + board)
  moves = board.getValidMoves(maximizingPlayer ? 2 : 1);

  if (depth > maxDepth) {
    console.log("masuk depth > maxDepth")
    return SIZE*SIZE;
  }

  if (moves.length == 0) {
    console.log("masuk moves = o")
    return -1000;
  }

  if (maximizingPlayer) {
    for (let i = 0; i < moves.length; i++) {
      console.log("masuk for di max player")
      let score = minimax(depth + 1, maxDepth, moves[i], false, alpha, beta);
      console.log(score);
      if (score > alpha) {
        console.log("berubah angka")
        alpha = score;
      }
      if (beta <= alpha) {
        console.log("di break lah pokoknya")
        break;
      }
    }
  return alpha;
  }
}

function createBoardHTML(){
  let width = SIZE * 100;
  $(".board").replaceWith('<div class="board"></div>');
  $(".board").css("width", width+"px");
  $('.game-page').removeClass('hidden');
  $(".landing-page").addClass("hidden");
  for(let row = 0; row < SIZE; row++ ) {
    for(let box = 0; box < SIZE; box++) {
      let id = "box-" + row + "" + box;
      $( ".board" ).append('<div class="box" id=' + id + ' onClick="move(' + row + ',' + box + ')"></div>');
    }
  }
}
function possibleMoves(){
  validMoves = mainBoard.getValidMoves(currentPlayer());
  //console.log(validMoves);
  //console.log(currentPlayer());
  if (indo == 0 || penjajah == 0){
    announceWinner();
  }
  if (validMoves.length == 0){
    turns++;
    validMoves = mainBoard.getValidMoves(currentPlayer());
  }
  if (validMoves.length == 0){
    announceWinner();
    return;
  }
  refresh();
  if (currentPlayer() == 1){
    for (let i = 0; i < validMoves.length; i++){
      $("#box-" + validMoves[i].movedx + "" + validMoves[i].movedy).css('background-image','url("/static/tanah-2.png")');
    }
  }
}

function refresh(){
  indo = 0;
  penjajah = 0;
  let currPlayer;
  for (let row = 0; row < SIZE; row++){
    for (let box = 0; box < SIZE; box++){
      if (mainBoard.state[row][box] == 0){
        $("#box-" + row + "" + box).css('background-image','url("/static/tanah-1.png")');
      }
      else if (mainBoard.state[row][box] == 1){
        $("#box-" + row + "" + box).css('background-image','url("/static/indonesia.png")');
        indo++;
      }
      else if (mainBoard.state[row][box] == 2){
        $("#box-" + row + "" + box).css('background-image','url("/static/penjajah.png")');
        penjajah++;
      }
    }
  }
  if (currentPlayer() == 1){
    currPlayer = 'Indonesia';
  }
  else{
    currPlayer = 'Penjajah';
  }
  $('.current-player').replaceWith('<h2 class="current-player">CURRENT PLAYER : ' + currPlayer + '</h>');
  $('.score').replaceWith('<h2 class="score">indo: ' + indo + ' penjajah:' + penjajah + '</h2>');

}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
</script>
