.box{
  width: 100px;
  height : 100px;
  background-image: url("tanah-1.png");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  margin-top: auto;
}
.scoreboard{
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

body{
  background-color: black;
}

.landing-page{
  display: block;
  text-align: center;
  margin-top: 20%;
}

.end-page{
  display: block;
  margin-left: 45%;
  margin-top: 20%;
}

.button{
  width: 100px;
  height: 50px;
}

h2{
  color: white;
  font-size: 20;
  font-weight: bold;
}
.hidden{
  visibility: hidden;
  display: none;
}
